{% extends "layout.html"%}

{% block title %}
    Sell
{% endblock %}

{% block main %}
<form action="/sell" method="post">
    <label for="select">Choose an option:</label>
    <select id="select" name="symbol">
        {% for item in data %}
        <option value="{{ item.symbol }}">{{ item.symbol }}</option>
        {% endfor %}
    </select>

    <div class="mb-3">
        <input class="form-control mx-auto w-auto" name="shares" placeholder="Shares" type="text" min="1">
    </div>
    <button class="btn btn-primary" type="submit">Sell</button>
</form>
{% endblock %}
